html {
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(27, 24, 26);
  display: flex;
  justify-content: center;
}

canvas {
  display: block;
}
